form.abilityScores section.AbilityScore {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
form.abilityScores section.AbilityScoreul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
form.abilityScores section.AbilityScore li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}
form.abilityScores section.AbilityScore label {
  margin-bottom: 5px;
}
form.abilityScores section.AbilityScore SimpleText {
  border: 0;
  border-bottom: 1px solid;
}
