body,
html {
  background-color: #373735;
}

section.boarder {
  width: 900px;
  right: 0;
  left: 0;
  border-top: 15px;
  border-bottom: 15px; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
  background-color: #f9f7f4;
}

form.charsheet {
  width: 800px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

nav {
  box-shadow: 2px 3px 20px black, 0 0 53px #8a4d0f inset;
  background: #f9f7f4 !important;
  filter: url(#wavy2);
  background-color: #f9f7f4 !important;
  font: bold 20px Cinzel Decorative, cursive;
  color: transparent;
  text-shadow: 2px 2px 3px rgb(255 255 255 / 50%);
  padding: 8px;
}

a {
  color: #6c7b67;
  font-family: "Cinzel Decorative", cursive;
}

label {
  color: #6c7b67;
  font-family: "Cinzel Decorative", cursive;
}


textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 20px - 2px);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  height: 15em;
}

input[type=checkbox] {
  cursor: pointer;
}

div.box {
  margin-top: 10px;
}
section.boarder {
  width: 900px;
  right: 0;
  left: 0;
  border-top: 15px;
  border-bottom: 15px; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
  background-color: #f9f7f4;
}

form.charsheet {
  width: 800px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

form.charsheet div.textblock {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}

form.charsheet div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 20px - 2px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}

form.charsheet div.textblock textarea {
  border: 1px solid black;
}
form.charsheet ul {
  margin: 0;
  padding: 0;
}
form.charsheet ul li {
  list-style-image: none;
  display: block;
}

form.charsheet label {
  text-transform: uppercase;
  font-size: 12px;
}
form.charsheet header {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}
form.charsheet header section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px 0;
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
}
form.charsheet header section.charname input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
form.charsheet header section.charname label {
  padding-left: 1em;
}
form.charsheet header section.misc {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}
form.charsheet header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
}
form.charsheet header section.misc ul li {
  width: 33.33333%;
  display: flex;
  flex-direction: column-reverse;
}
form.charsheet header section.misc ul li label {
  margin-bottom: 5px;
}
form.charsheet header section.misc ul li input {
  border: 0;
  border-bottom: 1px solid;
}
form.charsheet main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

form.charsheet main div.label-container {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 6px;
  border: 1px solid black;
  border-left: 0;
  text-align: center;
}

form.charsheet main div.label-container > label {
  position: absolute;
  left: 0;
  top: 1px;
  transform: translate(0%, 50%);
  width: 100%;
  font-size: 8px;
}

form.charsheet main > section {
  width: 32%;
  display: flex;
  flex-direction: column;
}

form.charsheet main > section section.attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form.charsheet main > section section.attributes div.scores {
  width: 101px;
  border-radius: 10px;
  padding-bottom: 5px;
}

form.charsheet main > section section.attributes div.scores label {
  font-size: 8px;
  font-weight: bold;
}

form.charsheet main > section section.attributes div.scores ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

form.charsheet main > section section.attributes div.scores ul li {
  height: 80px;
  width: 70px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

form.charsheet main > section section.attributes div.scores ul li input {
  width: 100%;
  padding: 0;
  border: 0;
}

form.charsheet main > section section.attributes div.scores ul li div.score input {
  text-align: center;
  font-size: 40px;
  padding: 2px 0px 0px 0px;
}

.full-char {
  width: fit-content;
  height: fit-content;
  font-family: "Cinzel Decorative", cursive;
  padding: 0;
}

.disabled {
  pointer-events: none;
}

/*Character Card code */

.card {
  box-shadow: 2px 3px 6px #626a54, 0 0 53px #8a4d0f inset;
  background: #f9f7f4 !important;
  filter: url(#wavy2);
  background-color: #f9f7f4 !important;

  height: 100%;
  width: fit-content;
  border-radius: 25px;
}
form.charsheet main section.equipment > div > div.money ul > li {
  display: flex;
  align-items: center;
}
form.charsheet main section.equipment > div > div.money ul > li label {
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 20px;
  font-size: 8px;
  text-align: center;
  padding: 3px 0;
}

.card:hover {
  border-width: 0 2px 3px 0;
  margin-right: 4px;
  position: relative;
  bottom: 30px;

}

form.charsheet main section.equipment > div > label {
  order: 3;
  text-align: center;
  flex: 100%;
}

form.charsheet main section.equipment > div > textarea {
  flex: 1;
  border: 0;
}

form.charsheet main section.flavor {
  padding: 10px;
  border-radius: 10px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

