body {
  background-color: #373735;
}

section.sheet {
  width: 900px;
  right: 0;
  left: 0;
  border-top: 15px;
  border-bottom: 15px; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
  background-color: #f9f7f4;
}

form.charForm {
  width: 800px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.bioInfo {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

main {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}
main header {
      width: 40%;
}
container {
  width: 95%;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-around;
  border-spacing: 5px;
  border-spacing: 1cm 2em;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  order: 1;
}

input[type=checkbox]:checked {
  background-color: black;
}